<html>
    <head>
      <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

      <style>
        {{asset "teste-2-base.css" "utf8"}}

        #header, #footer { padding: 0 !important; }
      </style>
    </head>
    <body class="p-5">
      {{component "header" }}

      <h1>TESTE 2</h1>

    </body>
  </html>
