* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin-bottom: 2rem;
  font-size: 12px;
}

header img {
  width: 42px;
}

h3 {
  margin-block: 8px;
}

table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 12px;
}

table td,
table th {
  padding: 4px 8px;
}

table thead th {
  background-color: #333;
  color: #fff;
}

.cabecalho {
  margin-bottom: 18px;
}

/* utilidades */

.uppercase {
  text-transform: uppercase;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: between;
}

.justify-end {
  justify-content: end;
}

.items-center {
  align-items: center;
}

.text-nowrap {
  white-space: nowrap;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}