<header class="flex flex-col justify-center items-center">
  <img src="{{asset "teste-brasao.png" "dataURI"}}" />
  <p>Governo do Estado de Rondônia</p>
  <p>Relatório de Inventário</p>
</header>

<table class="cabecalho">
  <caption>
    <h3>
      TITULO
    </h3>
  </caption>
</table>
